:root {
  --primary-color: #b1a896;
  --secondary-color: #0f1f22;
  
  --primary-font-color: white;
  --standard-font-family: 'Raleway', Segoe UI, Verdana, sans-serif;
  --secondary-font-family: Segoe UI, Verdana, sans-serif;
  --standard-font-size: 1.1rem;
}


body {
  background-color: var(--primary-background-color);
  font-size: 0.8rem !important;
}



#stickyBasket {
  position: -webkit-sticky;
  position: sticky;
  top: 81px;
  border-radius: 5px;
  border-right: 6px;
  border-color: rgb(255, 255, 255);
  border-right-style: ridge;
  border-right-color:var(--secondary-color);
  background-color: rgba(196, 188, 188, 0.111);


}





#productsQty{

  text-align: center;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:var(--secondary-color);
  
}
#stickyHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color:var(--secondary-color);
}


#screentest {

  text-align: center;
}

#imageSize {

  height: auto;
  width: 350px;
}


#btnBuy  {

  text-align: center;
  border-radius: 5px;
  
}

.h5 {

  font-size: 1rem !important;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from, 0% {
    transform: rotatey(0deg);
    size: 50%;
  }
  
  to, 100% {
    transform: rotatey(21deg);
    size: 100%;
     }
  from {
    transform: rotatey(20deg);

  }
  to {
    transform: rotatey(-20deg);

  }
}


.footer-container {
  display: block;
  background-color: var(--secondary-color);
  font-size: 10px;
  height: 40px;
  padding-bottom: 10px;
  padding-right: 20px;
  bottom:0;
  width: 100%; 
  text-align: right;
  color: white;
}


